esp32_prod.json
{
  "name": "esp32",
  "nodes": [
    {
      "parameters": {
        "topics": "esp32c3/data",
        "options": {
          "jsonParseBody": true,
          "onlyMessage": true
        }
      },
      "type": "n8n-nodes-base.mqttTrigger",
      "typeVersion": 1,
      "position": [
        3824,
        1344
      ],
      "id": "b3fa28c8-259e-4fe1-9291-66a70d127b39",
      "name": "MQTT Trigger",
      "credentials": {
        "mqtt": {
          "id": "BHuPlzoyNhQIduWz",
          "name": "MQTT account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc0ca98f-1d6d-4dbd-ad83-eedb7b235e5b",
              "name": "'0'].devic",
              "value": "={{ $json['0'].DISPOSITIVO }}",
              "type": "string"
            },
            {
              "id": "bafc55d8-c929-46d1-a195-c5fafdb3f7b3",
              "name": "'0'].temperatur",
              "value": "={{ $json['0'].TEMP_ATUAL }}",
              "type": "number"
            },
            {
              "id": "5e8d933f-f7f4-4005-a69d-ae9ded7730db",
              "name": "'0'].hor",
              "value": "={{ $json['0'].HORA }}",
              "type": "string"
            },
            {
              "id": "wifi-signal-uid",
              "name": "'0'].wifi",
              "value": "={{ $json['0'].WIFI_SIGNAL }}",
              "type": "string"
            },
            {
              "id": "voltagem-uid",
              "name": "'0'].voltage",
              "value": "={{ $json['0'].VOLTAGEM }}",
              "type": "string"
            },
            {
              "id": "a1d8b7c4-0df9-4171-bb3c-521260ab5308",
              "name": "'0'].dat",
              "value": "={{ $json['0'].DATA }}",
              "type": "string"
            },
            {
              "id": "6a269ce2-bf99-4198-bd20-2bb8251b4c6c",
              "name": "'0'].msg",
              "value": "=📳Dispositivo: {{ $json['0'].DISPOSITIVO }}\n📅Data: {{ $json['0'].DATA }}\n🕖Hora: {{ $json['0'].HORA }}\n🌡Temp: {{ $json['0'].TEMP_ATUAL }}\n⬆️MAX: {{ $json['0'].MAX }}\n⬇️MIN: {{ $json['0'].MIN }}\n🪫Bateria: {{ $json['0'].BATERIA || 'N/A' }}\n🔌Tensão: {{ $json['0'].VOLTAGEM }}v",
              "type": "string"
            },
            {
              "id": "5ea428bd-5b17-41b6-9585-3e9edfaec822",
              "name": "numeros",
              "value": "[{ \"phone\": \"5581995981890\" }, { \"phone\": \"5581996678501\" }]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4000,
        1344
      ],
      "id": "9597bace-5671-4ea3-801e-79779823922e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "sensor_temperatura",
        "remoteJid": "5581995981890",
        "messageText": "={{ $json.msg }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        4752,
        1344
      ],
      "id": "012d6962-da67-4e3c-afa2-391ef08cfa96",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "QqcSRveOqQAdkYAB",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4912,
        1344
      ],
      "id": "b1054f17-c1a4-4eea-8d8e-186dff9640fa",
      "name": "Wait",
      "webhookId": "a07f83fa-9ef3-4fb6-9dce-fb47fd6b95bb"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "sensor_temperatura",
        "remoteJid": "5581997070639",
        "messageText": "={{ $json.data.message.conversation }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        5040,
        1552
      ],
      "id": "3c9bf144-bffe-42c1-8ff0-5e20d70cc7bd",
      "name": "Enviar texto1",
      "credentials": {
        "evolutionApi": {
          "id": "QqcSRveOqQAdkYAB",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json[\"0\"].event }}",
                    "rightValue": "=comando_desligar_sucesso",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "28ceeb7a-7fa9-4b73-86ea-5ca7c32f4bcb"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1dcab170-1d89-471c-a605-36e619bf0c84",
                    "leftValue": "={{ $json[\"0\"].event }}",
                    "rightValue": "periodico",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4e481fc8-9848-44eb-abf9-495384b54ba2",
                    "leftValue": "={{ $json[\"0\"].event }}",
                    "rightValue": "comando_ligar_sucesso",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bada2f52-d36b-4d90-9168-a9243bf4dba3",
                    "leftValue": "={{ $json[\"0\"].event }}",
                    "rightValue": "limites_alterados",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0b740cda-c2c6-4c1e-aa0b-0047e56d83a0",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4176,
        1296
      ],
      "id": "6926544f-7390-4ed0-b582-dff3a646a7a1",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f459ea5-8749-469d-be27-50e9c00430f9",
              "name": "msg",
              "value": "={{ $json[\"'0'\"].msg }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4464,
        1024
      ],
      "id": "3611ee2e-28b0-44ff-a20e-ee6d275fbb96",
      "name": "rele desligado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f459ea5-8749-469d-be27-50e9c00430f9",
              "name": "msg",
              "value": "={{ $json[\"'0'\"].msg }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4464,
        1184
      ],
      "id": "a2b25058-315e-4c2a-9da4-b4ebb34aa43c",
      "name": "periodico"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f459ea5-8749-469d-be27-50e9c00430f9",
              "name": "msg",
              "value": "={{ $json[\"'0'\"].msg }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4464,
        1680
      ],
      "id": "92baaed2-901d-4fcd-9ba9-127eb69a244e",
      "name": "modo_automatico_ligado"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f459ea5-8749-469d-be27-50e9c00430f9",
              "name": "msg",
              "value": "={{ $json[\"'0'\"].msg }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4464,
        1504
      ],
      "id": "a26139d0-5a11-4e06-a0f1-b5e1d4405559",
      "name": "limites_alterados"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f459ea5-8749-469d-be27-50e9c00430f9",
              "name": "msg",
              "value": "={{ $json[\"'0'\"].msg }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4464,
        1344
      ],
      "id": "1b4912ec-5df2-4649-a5f4-a25fd50858a4",
      "name": "lifado_sucesso"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dZ60Zg9UxrpNUWpYBa_-IkHAw3YUtZQZ2PldAtj4PEI",
          "mode": "list",
          "cachedResultName": "Temperaturas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dZ60Zg9UxrpNUWpYBa_-IkHAw3YUtZQZ2PldAtj4PEI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dZ60Zg9UxrpNUWpYBa_-IkHAw3YUtZQZ2PldAtj4PEI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "HORA": "={{ $('MQTT Trigger').item.json['0'].HORA }}",
            "DATA": "={{ $('MQTT Trigger').item.json['0'].DATA }}",
            "DISPOSITIVO": "={{ $('MQTT Trigger').item.json['0'].DISPOSITIVO }}",
            "TEMP.": "={{ $('MQTT Trigger').item.json['0'].TEMP_ATUAL }}",
            "MAX": "={{ $('MQTT Trigger').item.json['0'].MAX }}",
            "MIN": "={{ $('MQTT Trigger').item.json['0'].MIN }}",
            "VOLTAGEM": "={{ $('MQTT Trigger').item.json['0'].VOLTAGEM }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DISPOSITIVO",
              "displayName": "DISPOSITIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TEMP.",
              "displayName": "TEMP.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MAX",
              "displayName": "MAX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MIN",
              "displayName": "MIN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VOLTAGEM",
              "displayName": "VOLTAGEM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        5072,
        1344
      ],
      "id": "2ad6103f-3ffd-44bf-987a-53d99fddfd44",
      "name": "salva temperatura",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YFl1SEKGi4NmAyDc",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "MQTT Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "salva temperatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "rele desligado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "periodico",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "lifado_sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "limites_alterados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "modo_automatico_ligado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rele desligado": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "periodico": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "modo_automatico_ligado": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "limites_alterados": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lifado_sucesso": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "7d57e9cf-2e8b-44b2-9e28-da464fb3527d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be63eec592610c4f78e7b17a812f5d022e962bcad508e6c20e665203393891ed"
  },
  "id": "YGf8O2rGuqGCYpfdjsXX-",
  "tags": []
}