esp32.json
{
  "name": "esp32",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        15760,
        5824
      ],
      "id": "5a7494fc-2fb3-40a6-aec2-fd7ca53357f5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "MywRDCvjWfb2xBnW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        16224,
        5904
      ],
      "id": "11e40d94-0ef6-485d-9b31-cd5570c5c3d9",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "6TsuPLR4Iqz1wXOr",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "topics": "esp32c3/data",
        "options": {
          "jsonParseBody": true,
          "onlyMessage": true
        }
      },
      "type": "n8n-nodes-base.mqttTrigger",
      "typeVersion": 1,
      "position": [
        15504,
        5616
      ],
      "id": "757ac2e3-47ec-49c8-9606-5d613952ec26",
      "name": "MQTT Trigger",
      "credentials": {
        "mqtt": {
          "id": "BHuPlzoyNhQIduWz",
          "name": "MQTT account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc0ca98f-1d6d-4dbd-ad83-eedb7b235e5b",
              "name": "device",
              "value": "={{ $json['0'].DISPOSITIVO || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "bafc55d8-c929-46d1-a195-c5fafdb3f7b3",
              "name": "temperatura",
              "value": "={{ $json['0'].TEMP_ATUAL }}",
              "type": "number"
            },
            {
              "id": "5e8d933f-f7f4-4005-a69d-ae9ded7730db",
              "name": "hora",
              "value": "={{ $json['0'].HORA }}",
              "type": "string"
            },
            {
              "id": "a1d8b7c4-0df9-4171-bb3c-521260ab5308",
              "name": "data",
              "value": "={{ $json['0'].DATA }}",
              "type": "string"
            },
            {
              "id": "6a269ce2-bf99-4198-bd20-2bb8251b4c6c",
              "name": "msg",
              "value": "=DISPOSITIVO: {{ $json['0'].DISPOSITIVO }}\nTIPO: {{ $json['0'].TIPO }}\nTEMP: {{ $json['0'].TEMP_ATUAL }}\nMAX: {{ $json['0'].MAX || 'N/A' }}\nMIN: {{ $json['0'].MIN || 'N/A' }}\nALARM_MAX: {{ $json['0'].ALARM_MAX || 'N/A' }}\nALARM_MIN: {{ $json['0'].ALARM_MIN || 'N/A' }}\nVOLTAGEM: {{ $json['0'].VOLTAGEM || 'N/A' }}\nBATERIA: {{ $json['0'].BATERIA || 'N/A' }}\nDATA: {{ $json['0'].DATA }}\nHORA: {{ $json['0'].HORA }}",
              "type": "string"
            },
            {
              "id": "5ea428bd-5b17-41b6-9585-3e9edfaec822",
              "name": "numeros",
              "value": "[{ \"phone\": \"5581995981890\" }, { \"phone\": \"5581996678501\" }]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        15680,
        5616
      ],
      "id": "6cbe1b3e-5cd4-4ede-8a32-ad12eded0ef7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "sensor_temperatura",
        "remoteJid": "5581995981890",
        "messageText": "={{ $json.output || $json.msg }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        16416,
        5616
      ],
      "id": "06070abc-27cc-472f-b19f-7e85067de130",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "QqcSRveOqQAdkYAB",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        16576,
        5616
      ],
      "id": "525d60ba-8f6a-4405-b5f2-7f1eba9c4364",
      "name": "Wait",
      "webhookId": "a07f83fa-9ef3-4fb6-9dce-fb47fd6b95bb"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "sensor_temperatura",
        "remoteJid": "5581997070639",
        "messageText": "={{ $json.data.message.conversation }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        16704,
        5824
      ],
      "id": "92c725b0-4c5d-4359-b62b-f2d56f218b8d",
      "name": "Enviar texto1",
      "credentials": {
        "evolutionApi": {
          "id": "QqcSRveOqQAdkYAB",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dZ60Zg9UxrpNUWpYBa_-IkHAw3YUtZQZ2PldAtj4PEI",
          "mode": "list",
          "cachedResultName": "Temperaturas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dZ60Zg9UxrpNUWpYBa_-IkHAw3YUtZQZ2PldAtj4PEI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dZ60Zg9UxrpNUWpYBa_-IkHAw3YUtZQZ2PldAtj4PEI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "HORA": "={{ $('MQTT Trigger').item.json['0'].HORA }}",
            "DATA": "={{ $('MQTT Trigger').item.json['0'].DATA }}",
            "DISPOSITIVO": "={{ $('MQTT Trigger').item.json['0'].DISPOSITIVO }}",
            "TEMP.": "={{ $('MQTT Trigger').item.json['0'].TEMP_ATUAL }}",
            "MAX": "={{ $('MQTT Trigger').item.json['0'].MAX }}",
            "MIN": "={{ $('MQTT Trigger').item.json['0'].MIN }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "DISPOSITIVO",
              "displayName": "DISPOSITIVO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATA",
              "displayName": "DATA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "HORA",
              "displayName": "HORA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TEMP.",
              "displayName": "TEMP.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MAX",
              "displayName": "MAX",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "MIN",
              "displayName": "MIN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VOLTAGEM",
              "displayName": "VOLTAGEM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16736,
        5616
      ],
      "id": "bdac849a-2a99-4c9e-8af6-05c1e160ee51",
      "name": "salva temperatura",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YFl1SEKGi4NmAyDc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.msg }}",
        "options": {
          "systemMessage": "Você é um assistente técnico inteligente de monitoramento de Câmara Fria. Sua função é analisar dados de sensores IoT e gerar mensagens humanizadas para WhatsApp.\n\nVocê recebe dados no formato:\nDISPOSITIVO: nome\nTIPO: tipo_do_evento\nTEMP: temperatura_atual\nMAX: pico_maximo_hoje\nMIN: pico_minimo_hoje\nALARM_MAX: limite_maximo_configurado\nALARM_MIN: limite_minimo_configurado\nVOLTAGEM: tensao_rede (só presente se monitoramento ativo)\nBATERIA: tensao_bateria (só presente se monitoramento ativo)\nPORTA: estado da porta (só presente se monitoramento ativo)\nMONITORES: {TENSAO: ON/OFF, BATERIA: ON/OFF, PORTA: ON/OFF, AMBIENTE: ON/OFF}\nDATA: data\nHORA: hora\n\nIMPORTANTE:\n- O monitoramento de TEMPERATURA (TEMP) é o CORE do sistema e está SEMPRE ATIVO. NUNCA diga que a temperatura está desativada.\n- O monitoramento 'AMBIENTE' refere-se a sensores SECUNDÁRIOS. Se MONITORES.AMBIENTE = OFF, isso NÃO se aplica à Temperatura (TEMP).\n- ALARM_MAX e ALARM_MIN são os LIMITES de segurança.\n- MAX e MIN são registros históricos. Se forem 'N/A', informe que não há histórico para hoje.\n- Use ALARM_MAX and ALARM_MIN para determinar se está fora da faixa.\n- Se ALARM_MAX ou ALARM_MIN forem 'N/A', ignore os limites e apenas reporte o valor atual sem criticar a falta de configuração. NUNCA diga que os limites não estão configurados se eles vierem como 'N/A'.\n- Use MAX e MIN apenas para curiosidade histórica.\n- Os outros monitoramentos (Tensão, Bateria, Porta, Ambiente) são OPCIONAIS.\n- Se MONITORES.TENSAO = OFF, NÃO mencione tensão/voltagem no relatório.\n- Se MONITORES.BATERIA = OFF, NÃO mencione bateria no relatório.\n- Se MONITORES.PORTA = OFF, NÃO mencione porta no relatório.\n- Se MONITORES.AMBIENTE = OFF, NÃO mencione ambiente/umidade no relatório.\n- Só inclua no relatório os monitoramentos que estão ON.\n\n---\nMONITORAMENTO DESATIVADO:\nSe TIPO = \"MONITORAMENTO_DESATIVADO\":\nResponda: \"Este monitoramento específico (ex: Porta/Tensão) está desativado. A temperatura continua sendo monitorada.\"\n\n---\nCONFIGURAR MONITORAMENTO:\nQuando o usuário pedir para ativar/desativar monitoramentos, use a intenção \"configurar_monitoramento\".\nExemplos de comandos do usuário e o JSON a enviar:\n- \"ativar monitoramento de tensão\" -> {\"intencao\": \"configurar_monitoramento\", \"tensao\": true}\n- \"desativar bateria\" -> {\"intencao\": \"configurar_monitoramento\", \"bateria\": false}\n- \"desativar tudo\" -> {\"intencao\": \"configurar_monitoramento\", \"tensao\": false, \"bateria\": false, \"porta\": false, \"ambiente\": false}\nTemperatura NÃO pode ser desativada.\n\n---\nREGRAS DE RESPOSTA POR TIPO DE EVENTO:\n\n1. TIPO = \"periodico\" ou \"STATUS_SOLICITADO\":\n   Gere um relatório amigável com emojis:\n   🌡️ *Status Atual*\n   📱Dispositivo: [nome]\n   📅Data: [data]\n   🕰️Hora: [hora]\n   🌡️Temp: [temp]°C\n   ⚙️Limites: [alarm_min]°C a [alarm_max]°C\n   📉Picos Hoje: Min [min]°C / Max [max]°C\n   (Se MAX/MIN for 'N/A', diga \"Sem dados hoje\")\n   (Só se MONITORES.BATERIA=ON) 🪫Bateria: [bat]V\n   (Só se MONITORES.TENSAO=ON) 🔌Tensão: [volt]V\n   (Só se MONITORES.PORTA=ON) 🚪Porta: [estado]\n\n   Depois, ANALISE os dados (só dos monitoramentos ATIVOS):\n   - Se MONITORES.TENSAO=ON e VOLTAGEM > 200V: ✅ Energia estável\n   - Se MONITORES.TENSAO=ON e VOLTAGEM = 0V: ⚠️ ALERTA: Sem energia!\n   - Se TEMP > ALARM_MAX: ⚠️ Temperatura ACIMA do limite configurado ([alarm_max])\n   - Se TEMP < ALARM_MIN: ⚠️ Temperatura ABAIXO do limite configurado ([alarm_min])\n   - Se TEMP entre ALARM_MIN e ALARM_MAX: ✅ Temperatura normal\n\n2. TIPO = \"relatorio_diario\":\n   Inicie com uma saudação adequada ao horário.\n   \"Aqui está o resumo diário do seu monitoramento:\"\n   Siga o mesmo formato do item 1 (Status Atual).\n   Só inclua informações de monitoramentos que estão ON.\n   Adicione uma nota sobre o reset dos picos diários.\n\n3. TIPO começa com \"ALERTA_\":\n   🚨 GERE UM ALERTA URGENTE! Use emojis de perigo.\n   Informe o problema claramente.\n   Indique a causa.\n\n4. TIPO = \"feedback_monitoramento\":\n   Confirme quais monitoramentos foram atualizados.\n   Liste o status atual de cada.\n\n5. Outros tipos mantenha o padrão anterior."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        15888,
        5616
      ],
      "id": "d45f542d-34b7-466e-b851-bd1017d58f8c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-2507",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        15888,
        5824
      ],
      "id": "ac8e9740-7165-4fe8-9250-1043703b8abb",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "XMVmk3hYpFTHTSyt",
          "name": "open router 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "MQTT Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "salva temperatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "657a9a41-0ffe-4446-8062-74380da307b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be63eec592610c4f78e7b17a812f5d022e962bcad508e6c20e665203393891ed"
  },
  "id": "YGf8O2rGuqGCYpfdjsXX-",
  "tags": []
}