mqtt receive.json
{
  "name": "mqtt receive",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "esp32",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        13024,
        6848
      ],
      "id": "ddf2e426-3595-4a5f-8e06-278bac7e978b",
      "name": "Webhook",
      "webhookId": "779ca9f1-da45-4b93-a744-876dc834aafb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6ef7d79-1613-4138-8942-0880afd426df",
              "name": "body.data.key.fromMe",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "7b9ae23a-9797-42d3-87b7-2fbbd3637f43",
              "name": "body.data.key.id",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "30cdbaa7-e6f7-456e-8c06-9c9cd84f681f",
              "name": "body.data.key.participant",
              "value": "={{ $json.body.data.key.participant }}",
              "type": "string"
            },
            {
              "id": "35c0bf37-ff94-4b00-89cf-6b185f0201d9",
              "name": "body.data.pushName",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "e54dd26c-7e15-4d32-ade3-7ac1664cf900",
              "name": "body.data.message.conversation",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "3ec08920-4d6a-4058-b779-43eb3c8690af",
              "name": "body.data.source",
              "value": "={{ $json.body.data.source }}",
              "type": "string"
            },
            {
              "id": "7cd64fa4-81b3-463f-90a2-c3d4a90a2744",
              "name": "body.data.key.remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        13216,
        6848
      ],
      "id": "44594be4-083b-4f43-93af-df166aebaa0d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b47f232e-2326-4506-8257-2ce21454260d",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "8e110a5d-16c4-4394-bdc5-665c3b70fc85",
              "leftValue": "={{ $json.body.data.key.participant }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "f2e3937e-8fc4-4a8b-9934-33b8ad4b3d77",
              "leftValue": "={{ $json.body.data.message.conversation }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        13424,
        6848
      ],
      "id": "76587f8c-1f6e-41e2-93f5-da003956d0f1",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        13872,
        7472
      ],
      "id": "520e6651-97c6-4bf0-b4b7-7669a2e5ce1a",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Voc\u00ea \u00e9 um CLASSIFICADOR DE INTEN\u00c7\u00c3O puro. Sua \u00fanica fun\u00e7\u00e3o \u00e9 extrair dados de uma mensagem e retornar um JSON.\n\nN\u00c3O GERE C\u00d3DIGO. N\u00c3O GERE EXPLICA\u00c7\u00d5ES. N\u00c3O GERE TEMPLATES ({{ if ... }}).\nAPENAS JSON V\u00c1LIDO.\n\n---\nMENSAGEM: {{ $json.body.data.message.conversation }}\n---\n\nINTEN\u00c7\u00d5ES POSS\u00cdVEIS:\n- configurar_limites (par\u00e2metros: temp_max, temp_min, volt_max, volt_min, bat_min, tempo_porta)\n- ligar_rele / desligar_rele\n- modo_manutencao\n- silenciar_alarme\n- calibrar_tensao (par\u00e2metro: nova_tensao)\n- obter_status_atual\n- consultar_relatorio\n\nREGRAS DE EXTRA\u00c7\u00c3O:\n1. Se a mensagem for \"Calibrar tens\u00e3o para 220V\", retorne:\n   { \"intencao\": \"calibrar_tensao\", \"nova_tensao\": 220, \"requer_dados\": false }\n\n2. Se a mensagem for \"Calibrar tens\u00e3o\" (sem valor), retorne:\n   { \"intencao\": \"calibrar_tensao\", \"nova_tensao\": null, \"requer_dados\": true }\n\n3. Se a mensagem for \"Silenciar alarme\", retorne:\n   { \"intencao\": \"silenciar_alarme\" }\n\n4. Se a mensagem for \"Status\", retorne:\n   { \"intencao\": \"obter_status_atual\" }\n\n5. Para \"Limites\":\n   - \"Bateria minima 11.5\" -> { \"intencao\": \"configurar_limites\", \"bat_min\": 11.5 }\n   - \"Porta 30s\" -> { \"intencao\": \"configurar_limites\", \"tempo_porta\": 30 }\n\nFORMATO DE SA\u00cdDA OBRIGAT\u00d3RIO:\n{\n  \"intencao\": \"string\",\n  \"temp_max\": number | null,\n  \"temp_min\": number | null,\n  \"volt_max\": number | null,\n  \"volt_min\": number | null,\n  \"bat_min\": number | null,\n  \"tempo_porta\": number | null,\n  \"nova_tensao\": number | null,\n  \"requer_dados\": boolean,\n  \"fonte_dados\": \"mqtt\" | null,\n  \"parametros\": {\n    \"solicitacao_original\": \"{{ $json.body.data.message.conversation }}\",\n    \"detalhe\": null\n  }\n}\n",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        13696,
        6832
      ],
      "id": "38c691ca-6fa5-467c-a55a-44c6d4b8ae10",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "501a11bc-7030-4a0d-b575-889f6f218d23",
              "name": "intencao",
              "value": "={{ $json.intencao }}",
              "type": "string"
            },
            {
              "id": "924d3022-2a45-4623-bcef-145cbb88d8b3",
              "name": "temp_max",
              "value": "={{ $json.temp_max }}",
              "type": "number"
            },
            {
              "name": "temp_min",
              "value": "={{ $json.temp_min }}",
              "type": "number"
            },
            {
              "id": "novo-fator-uid",
              "name": "novo_fator",
              "value": "={{ $json.novo_fator }}",
              "type": "number"
            },
            {
              "id": "df466802-03bf-4947-b282-534bc31871be",
              "name": "requer_dados",
              "value": "={{ $json.requer_dados }}",
              "type": "boolean"
            },
            {
              "id": "5693f6b2-ea34-4b89-ab84-36b52140ffa8",
              "name": "fonte_dados",
              "value": "={{ $json.fonte_dados }}",
              "type": "string"
            },
            {
              "id": "5c9db55a-09fe-473e-9322-abfa194632e4",
              "name": "parametros",
              "value": "={{ $json.parametros }}",
              "type": "object"
            },
            {
              "id": "remote-jid-uid",
              "name": "remoteJid",
              "value": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "name": "bat_min",
              "value": "={{ $json.bat_min }}",
              "type": "number"
            },
            {
              "name": "tempo_porta",
              "value": "={{ $json.tempo_porta }}",
              "type": "number"
            },
            {
              "name": "volt_max",
              "value": "={{ $json.volt_max }}",
              "type": "number"
            },
            {
              "name": "volt_min",
              "value": "={{ $json.volt_min }}",
              "type": "number"
            },
            {
              "name": "nova_tensao",
              "value": "={{ $json.nova_tensao }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "ignoreTypeConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        14496,
        6928
      ],
      "id": "e4799fd2-197c-441d-ad90-26693c3441f3",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c4036611-a886-455a-a82d-fcb1d5937801",
              "leftValue": "={{ $json.intencao }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        14656,
        6928
      ],
      "id": "1c3e3bcb-1c80-462d-8c07-759c7c51a0cd",
      "name": "If1"
    },
    {
      "parameters": {
        "topic": "esp32c3/status/action",
        "options": {}
      },
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [
        15248,
        7040
      ],
      "id": "f9bf6eea-3e5e-4dec-ab2a-324ca43173ef",
      "name": "MQTT",
      "credentials": {
        "mqtt": {
          "id": "BHuPlzoyNhQIduWz",
          "name": "MQTT account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eebcb8d0-26b2-4b99-9380-20fb9fe9dab5",
              "leftValue": "={{ $json.intencao }}",
              "rightValue": "consultar_relatorio",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        14272,
        6832
      ],
      "id": "0929a658-fc69-43c6-9eae-c8b2d022f074",
      "name": "If2"
    },
    {
      "parameters": {
        "jsCode": "const outputRaw = $input.item.json.output;\n\n// 1. Extra\u00e7\u00e3o robusta do bloco JSON (Markdown ou texto puro)\nlet jsonString = outputRaw;\n\n// Tenta encontrar bloco ```json ... ``` ou ``` ... ```\nconst codeBlockMatch = outputRaw.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/);\nif (codeBlockMatch) {\n    jsonString = codeBlockMatch[1]; // Pega o conte\u00fado de dentro das crases\n} else {\n    // Se n\u00e3o tiver crases, tenta encontrar o primeiro { at\u00e9 o \u00faltimo }\n    const jsonMatch = outputRaw.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n        jsonString = jsonMatch[0];\n    }\n}\n\n// 2. Sanitiza\u00e7\u00e3o de Caracteres de Controle e L\u00f3gica de Template Alucinada\n// Se a string come\u00e7ar com {{, a IA alucinou um template Handlebars/Jinja.\n// Nesse caso, tentamos limpar apenas o JSON v\u00e1lido se poss\u00edvel, ou falhamos com erro claro.\n\n// Remove caracteres de controle inv\u00e1lidos\njsonString = jsonString.replace(/[\\u0000-\\u001F]+/g, \"\");\n\nlet dados;\ntry {\n  dados = JSON.parse(jsonString);\n} catch (e) {\n  // Fallback: Tente corrigir erros comuns de JSON inv\u00e1lido gerado por LLMs\n  try {\n      const clean = jsonString\n          .replace(/(['\"])?([a-zA-Z0-9_]+)(['\"])?:/g, '\"$2\":') // Garante aspas nas chaves\n          .replace(/'/g, '\"'); // Troca aspas simples por duplas (arriscado, mas funciona pra IAs simples)\n      dados = JSON.parse(clean);\n  } catch (e2) {\n      // Se falhar tudo, retorne um objeto de erro seguro para n\u00e3o quebrar o fluxo inteiro\n      // A IA provavelmente gerou lixo ou c\u00f3digo template.\n      return [{\n          json: {\n            error: \"Falha cr\u00edtica no parse JSON\",\n            raw_output: outputRaw,\n            intencao: \"erro_parse_ia\",\n            requer_dados: false,\n            // Preenche o resto com null para evitar erros downstream\n            temp_max: null, temp_min: null, volt_max: null, volt_min: null,\n            bat_min: null, tempo_porta: null, nova_tensao: null, novo_fator: null,\n            parametros: { solicitacao_original: outputRaw, detalhe: e.message }\n          }\n      }];\n  }\n}\n\nreturn [\n  {\n    json: {\n      intencao: dados.intencao ? dados.intencao.trim() : null,\n      temp_max: dados.temp_max, \n      temp_min: dados.temp_min,\n      volt_max: dados.volt_max,\n      volt_min: dados.volt_min,\n      nova_tensao: dados.nova_tensao,\n      novo_fator: dados.novo_fator, \n      bat_min: dados.bat_min,\n      tempo_porta: dados.tempo_porta,\n      requer_dados: dados.requer_dados,\n      fonte_dados: dados.fonte_dados,\n      parametros: {\n        solicitacao_original: dados.parametros ? dados.parametros.solicitacao_original : null,\n        detalhe: dados.parametros ? dados.parametros.detalhe : null\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14048,
        6832
      ],
      "id": "60ff0b63-9f84-4533-bb16-96d5be749410",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "\ntry {\n    const item = $input.first().json;\n    const outputRaw = item.intencao;\n    const remoteJid = item.remoteJid;\n\n    if (!outputRaw) {\n        return { error: \"Campo 'intencao' n\u00e3o encontrado ou vazio\" };\n    }\n\n    let dados = item;\n    \n    // Resposta normalizada\n    let resposta = {\n        intencao: dados.intencao || \"nenhuma_intencao\",\n        destination: \"mqtt\", // Default\n        remoteJid: remoteJid\n    };\n\n    // === VALIDA\u00c7\u00c3O DE DADOS FALTANTES (Chatbot) ===\n    if (dados.requer_dados) {\n        return {\n            destination: \"whatsapp\",\n            message: \"Entendi seu pedido de \" + dados.intencao.replace('_', ' ') + \", mas preciso de mais detalhes. Qual o valor desejado?\",\n            remoteJid: remoteJid\n        };\n    }\n    \n    // === ATUALIZA\u00c7\u00c3O DE STATUS ===\n    if (dados.intencao === \"obter_status_atual\") {\n        // Envia comando para ESP32 e aguarda resposta (ou ESP32 publica periodicamente)\n        // Aqui apenas repassamos a inten\u00e7\u00e3o via MQTT e o ESP32 deve responder\n    }\n\n    // Mapeamento de Campos\n    const campos = [\"temp_max\", \"temp_min\", \"volt_max\", \"volt_min\", \"bat_min\", \"tempo_porta\", \"nova_tensao\", \"novo_fator\"];\n    campos.forEach(c => {\n        if (dados[c] !== undefined && dados[c] !== null) resposta[c] = parseFloat(dados[c]);\n    });\n    \n    return resposta;\n\n} catch (e) {\n    return {\n        error: \"Erro no processamento\",\n        detalhe: e.message\n    };\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14864,
        6928
      ],
      "id": "6005853a-1012-4e82-9ed1-f45ad424141f",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.destination }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "05cb3705-c1ef-4e82-922c-2e24466c77cf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fb8a9f8d-64b1-407a-9cc7-0a24e55f9817",
                    "leftValue": "={{ $json.destination }}",
                    "rightValue": "mqtt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mqtt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        15040,
        6928
      ],
      "id": "74597148-c983-4a0c-ab0b-20a98191f01d",
      "name": "Switch Validation"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "sensor_temperatura",
        "remoteJid": "={{ $json.remoteJid }}",
        "messageText": "={{ $json.message }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        15248,
        6848
      ],
      "id": "61b68b74-374d-4ec1-bcda-10d0a2075833",
      "name": "Responder Erro",
      "credentials": {
        "evolutionApi": {
          "id": "QqcSRveOqQAdkYAB",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dZ60Zg9UxrpNUWpYBa_-IkHAw3YUtZQZ2PldAtj4PEI",
          "mode": "list",
          "cachedResultName": "Temperaturas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dZ60Zg9UxrpNUWpYBa_-IkHAw3YUtZQZ2PldAtj4PEI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "P\u00e1gina1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dZ60Zg9UxrpNUWpYBa_-IkHAw3YUtZQZ2PldAtj4PEI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        15040,
        6480
      ],
      "id": "c8633826-f0c3-4868-8553-170f97d373a0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YFl1SEKGi4NmAyDc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dados =  JSON.parse($('AI Agent1').first().json.output);\nconst periodo = dados.periodo;\nconst valor = dados.valor;\n\n//const now = new Date();\nconst now = new Date(\n  new Date().toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' })\n);\n\n// ===== Helpers =====\nconst pad = (n) => String(n).padStart(2, \"0\");\nconst formatDate = (d) => {\n  if (d instanceof Date && !isNaN(d)) {\n    return `${pad(d.getDate())}/${pad(d.getMonth() + 1)}/${d.getFullYear()}`;\n  }\n  return null; // Retorna null se a data for inv\u00e1lida\n};\nconst formatTime = (d) =>\n  `${pad(d.getHours())}:${pad(d.getMinutes())}:${pad(d.getSeconds())}`;\nconst cloneDate = (d) => new Date(d.getTime());\n\n// ===== Resultado =====\nlet result = {\n  dispositivo: null,\n  hora_inicio: null,\n  hora_fim: null,\n  data_inicio: null,\n  data_fim: null,\n};\n\n// ===== Switch determin\u00edstico =====\nswitch (periodo) {\n  case \"hoje\": {\n    const d = formatDate(now);\n    result.data_inicio = d;\n    result.data_fim = d;\n    break;\n  }\n  case \"ontem\": {\n    const d = cloneDate(now);\n    d.setDate(d.getDate() - 1);\n    const fd = formatDate(d);\n    result.data_inicio = fd;\n    result.data_fim = fd;\n    break;\n  }\n  case \"ultimas_24_horas\": {\n    const start = cloneDate(now);\n    start.setHours(start.getHours() - 24);\n    result.data_inicio = formatDate(start);\n    result.data_fim = formatDate(now);\n    result.hora_inicio = formatTime(start);\n    result.hora_fim = formatTime(now);\n    break;\n  }\n  case \"ultima_semana\": {\n    const start = cloneDate(now);\n    start.setDate(start.getDate() - 7);\n    result.data_inicio = formatDate(start);\n    result.data_fim = formatDate(now);\n    break;\n  }\n  case \"ultimo_mes\": {\n    const start = cloneDate(now);\n    start.setDate(start.getDate() - 30);\n    result.data_inicio = formatDate(start);\n    result.data_fim = formatDate(now);\n    break;\n  }\n  case \"ultimos_X_dias\": {\n    if (typeof valor === \"number\" && valor > 0) {\n      const start = cloneDate(now);\n      start.setDate(start.getDate() - valor);\n      result.data_inicio = formatDate(start);\n      result.data_fim = formatDate(now);\n    }\n    break;\n  }\n  case \"intervalo_datas\": {\n    // As datas j\u00e1 v\u00eam formatadas como DD/MM/YYYY do classificador\n    if (dados.data_inicio) {\n      result.data_inicio = dados.data_inicio;\n    }\n    if (dados.data_fim) {\n      result.data_fim = dados.data_fim;\n    }\n    break;\n  }\n  case \"nenhum\":\n  default: {\n    // Se o usu\u00e1rio n\u00e3o informou m\u00eas/ano, assume o m\u00eas/ano corrente\n    const start = new Date(now.getFullYear(), now.getMonth(), 1);\n    const end = new Date(now.getFullYear(), now.getMonth() + 1, 0);\n    result.data_inicio = formatDate(start);\n    result.data_fim = formatDate(end);\n    break;\n  }\n}\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        14832,
        6480
      ],
      "id": "865ae61d-bb8c-41c2-bfe1-3cf68edab687",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Voc\u00ea \u00e9 um classificador de inten\u00e7\u00e3o e per\u00edodo temporal.\nEntrada do usu\u00e1rio: {{ $json.parametros.solicitacao_original }}\nData atual: {{ $now.setZone('America/Sao_Paulo').format('dd/MM/yyyy HH:mm:ss') }}\nAnalise a mensagem do usu\u00e1rio e retorne:\n1) Inten\u00e7\u00e3o principal\n2) Per\u00edodo temporal NORMALIZADO\n\nN\u00e3o calcule datas, n\u00e3o execute a\u00e7\u00f5es, n\u00e3o explique a resposta.\nRetorne APENAS JSON v\u00e1lido, sem texto extra e apenas um objeto.\n\nINTEN\u00c7\u00d5ES SUPORTADAS:\n- consultar_relatorio\n- nenhuma_intencao\n\nPER\u00cdODOS SUPORTADOS:\n- hoje\n- ontem\n- ultimas_24_horas\n- ultima_semana\n- ultimo_mes\n- ultimos_X_dias\n- intervalo_datas\n- nenhum\n\nREGRAS:\n- O usu\u00e1rio pode escrever de qualquer forma (ex: \"24hs\", \"24 horas\", \"dia inteiro\", \"relat\u00f3rio do dia\").\n- Interprete semanticamente a inten\u00e7\u00e3o.\n- Normalize o per\u00edodo para UM dos valores suportados.\n- Se houver n\u00famero expl\u00edcito de dias, use \"ultimos_X_dias\" e informe o valor.\n- Se o usu\u00e1rio citar um m\u00eas (ex: janeiro, fev, mar\u00e7o) com ou sem ano, use \"intervalo_datas\" e preencha data_inicio e data_fim com o primeiro e o \u00faltimo dia do m\u00eas.\n- Se o usu\u00e1rio pedir \"relat\u00f3rio do m\u00eas\" sem especificar qual, use o m\u00eas atual com \"intervalo_datas\".\n- Se n\u00e3o houver refer\u00eancia temporal clara, use \"nenhum\".\n- Para 'intervalo_datas', se o m\u00eas ou ano n\u00e3o for especificado, considere o m\u00eas e/ou ano atual.\n\nFORMATO DE SA\u00cdDA:\n{\n  \"intencao\": \"consultar_relatorio | nenhuma_intencao\",\n  \"periodo\": \"hoje | ontem | ultimas_24_horas | ultima_semana | ultimo_mes | ultimos_X_dias | intervalo_datas | nenhum\",\n  \"valor\": null,\n  \"data_inicio\": \"dd/MM/yyyy | null\",\n  \"data_fim\": \"dd/MM/yyyy | null\"\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        14512,
        6480
      ],
      "id": "317a52e4-b441-446e-9b97-025b35e776ea",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-235b-a22b-2507",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        14912,
        6688
      ],
      "id": "ae8b4bc8-d78b-40ac-b124-d8d18218b18d",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "XMVmk3hYpFTHTSyt",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==============================\n// Helpers\n// ==============================\nfunction parseDateBR(dateStr) {\n  if (!dateStr) return null;\n\n  const [day, month, year] = dateStr.split('/').map(Number);\n  return new Date(year, month - 1, day, 0, 0, 0);\n}\n\n// ==============================\n// Datas do filtro (vindas do agente)\n// ==============================\nconst filtro = $items('Code in JavaScript2')[0]?.json || {};\n\nconst dataInicio = parseDateBR(filtro.data_inicio);\nconst dataFim = parseDateBR(filtro.data_fim);\n\n// Prote\u00e7\u00e3o forte\nif (!dataInicio || !dataFim) {\n  return [];\n}\n\n// ==============================\n// Filtro + normaliza\u00e7\u00e3o\n// ==============================\nconst resultado = [];\n\nfor (const item of items) {\n  const linha = item.json;\n  const dataLinha = parseDateBR(linha.DATA);\n\n  if (!dataLinha) continue;\n\n  const t = dataLinha.getTime();\n\n  if (\n    t >= dataInicio.getTime() &&\n    t <= dataFim.getTime()\n  ) {\n    // \ud83d\udd39 Aqui voc\u00ea entrega o JSON LIMPO\n    resultado.push(linha);\n  }\n}\n\n// ==============================\n// Sa\u00edda FINAL para o HTML\n// ==============================\nreturn [\n  {\n    json: {\n      relatorio: resultado,\n      total: resultado.length,\n      periodo: {\n        inicio: filtro.data_inicio,\n        fim: filtro.data_fim\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15216,
        6480
      ],
      "id": "72148648-b99e-4042-81e6-e3d3d4e01993",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Ata para Controle Di\u00e1rio de Temperatura</title>\n  <style>\n    :root {\n      --border: #000;\n      --thin: 1px;\n    }\n\n    * {\n      box-sizing: border-box;\n    }\n\n    body {\n      font-family: \"Times New Roman\", Times, serif;\n      font-size: 11px;\n      color: #000;\n      margin: 18px;\n    }\n\n    .line {\n      border-top: var(--thin) solid var(--border);\n      margin: 8px 0;\n    }\n\n    .header {\n      display: grid;\n      grid-template-columns: 1fr auto 1fr;\n      align-items: center;\n      gap: 8px;\n      margin: 6px 0 8px;\n    }\n\n    .header .left,\n    .header .right {\n      font-size: 10px;\n      text-transform: uppercase;\n    }\n\n    .header .center {\n      text-align: center;\n      font-style: italic;\n      font-size: 16px;\n      font-weight: bold;\n    }\n\n    .title {\n      font-weight: bold;\n      text-transform: uppercase;\n      margin: 6px 0 6px;\n    }\n\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      page-break-inside: auto;\n    }\n\n    th, td {\n      border: var(--thin) solid var(--border);\n      padding: 3px 4px;\n      vertical-align: middle;\n    }\n\n    th {\n      font-weight: bold;\n      text-transform: uppercase;\n      font-size: 9px;\n      text-align: center;\n    }\n\n    .meta th,\n    .meta td {\n      font-size: 10px;\n    }\n\n    .meta .label {\n      width: 90px;\n      text-transform: uppercase;\n      font-weight: bold;\n      text-align: left;\n    }\n\n    .meta .value {\n      height: 18px;\n      font-weight: normal;\n      text-transform: none;\n    }\n\n    .subhead th {\n      background: #f7f7f7;\n    }\n\n    .group {\n      text-align: center;\n      font-weight: bold;\n    }\n\n    .obs {\n      width: 16%;\n    }\n\n    .footer-box {\n      margin-top: 10px;\n      width: 55%;\n    }\n\n    .footer-box td {\n      height: 16px;\n      font-size: 10px;\n    }\n\n    @page {\n      size: A4;\n      margin: 15mm;\n    }\n\n    @media print {\n      body {\n        margin: 0;\n      }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"line\"></div>\n\n  <div class=\"header\">\n    <div class=\"left\">Secretaria de Sa\u00fade</div>\n    <div class=\"center\">Pernambuco</div>\n    <div class=\"right\">Governo do Estado</div>\n  </div>\n\n  <div class=\"line\"></div>\n\n  <div class=\"title\">Ata para controle di\u00e1rio de temperatura</div>\n\n  <table class=\"meta\">\n    <tr>\n      <td class=\"label\">Estado</td>\n      <td class=\"value\">Pernambuco</td>\n      <td class=\"label\">Munic\u00edpio</td>\n      <td class=\"value\">__________________________</td>\n      <td class=\"label\">Unidade Sanit\u00e1ria III GIRES</td>\n      <td class=\"value\">__________________________</td>\n    </tr>\n    <tr>\n      <td class=\"label\">Ano</td>\n      <td class=\"value\">{{ (() => { const p = $json.periodo?.inicio; if (p) { const parts = p.split('/'); if (parts.length === 3) { return parts[2]; } } return (new Date()).getFullYear(); })() }}</td>\n      <td class=\"label\">M\u00eas</td>\n      <td class=\"value\">{{ (() => { const p = $json.periodo?.inicio; if (p) { const parts = p.split('/'); if (parts.length === 3) { const dt = new Date(Number(parts[2]), Number(parts[1]) - 1, Number(parts[0])); return dt.toLocaleString('pt-BR', { month: 'long' }); } } return (new Date()).toLocaleString('pt-BR', { month: 'long' }); })() }}</td>\n      <td class=\"label\">Marca da geladeira ou freezer</td>\n      <td class=\"value\">{{ $json.relatorio?.[0]?.DISPOSITIVO ?? '__________________________' }}</td>\n    </tr>\n  </table>\n\n  <table>\n    <thead>\n      <tr>\n        <th rowspan=\"2\">Dia</th>\n        <th class=\"group\" colspan=\"5\">Manh\u00e3</th>\n        <th class=\"group\" colspan=\"5\">Tarde</th>\n        <th class=\"obs\" rowspan=\"2\">Observa\u00e7\u00e3o</th>\n      </tr>\n      <tr class=\"subhead\">\n        <th>Hora</th>\n        <th>M\u00e1x</th>\n        <th>M\u00edn</th>\n        <th>Atual</th>\n        <th>Rubrica</th>\n        <th>Hora</th>\n        <th>M\u00e1x</th>\n        <th>M\u00edn</th>\n        <th>Atual</th>\n        <th>Rubrica</th>\n      </tr>\n    </thead>\n    <tbody>\n      {{\n        (() => {\n          const toHour = (h) => {\n            if (!h) return null;\n            const m = String(h).match(/(\\d{1,2})(?::(\\d{2}))?/);\n            if (!m) return null;\n            return Number(m[1]);\n          };\n\n          return ($json.relatorio || [])\n            .map(linha => {\n              const dia = (linha.DATA || '').split('/')[0] || '';\n              const hora = linha.HORA ?? '';\n              const atual = linha[\"TEMP.\"] ?? linha.TEMP ?? '';\n              const max = linha.MAX ?? linha.MAXIMA ?? linha.tempMax ?? linha.TEMP_MAX ?? linha.TEMPMAX ?? linha['TEMP MAX'] ?? linha['TEMP_MAX'] ?? '';\n              const min = linha.MIN ?? linha.MINIMA ?? linha.tempMin ?? linha.TEMP_MIN ?? linha.TEMPMIN ?? linha['TEMP MIN'] ?? linha['TEMP_MIN'] ?? '';\n              const obs = linha.OBS ?? linha.OBSERVACAO ?? '';\n              const hour = toHour(hora);\n\n              const manha = { hora: '', max: '', min: '', atual: '', rubrica: '' };\n              const tarde = { hora: '', max: '', min: '', atual: '', rubrica: '' };\n              const slot = hour !== null && hour >= 12 ? tarde : manha;\n              slot.hora = hora;\n              slot.max = max;\n              slot.min = min;\n              slot.atual = atual;\n              slot.rubrica = linha.RUBRICA ?? linha.RUBRICA_MANHA ?? linha.RUBRICA_TARDE ?? '';\n\n              return `\n                <tr>\n                  <td style=\"text-align:center;\">${dia}</td>\n                  <td>${manha.hora}</td>\n                  <td>${manha.max}</td>\n                  <td>${manha.min}</td>\n                  <td>${manha.atual}</td>\n                  <td>${manha.rubrica}</td>\n                  <td>${tarde.hora}</td>\n                  <td>${tarde.max}</td>\n                  <td>${tarde.min}</td>\n                  <td>${tarde.atual}</td>\n                  <td>${tarde.rubrica}</td>\n                  <td>${obs}</td>\n                </tr>\n              `;\n            })\n            .join('');\n        })()\n      }}\n    </tbody>\n  </table>\n\n  <table class=\"footer-box\">\n    <tr>\n      <td style=\"width: 30%;\">Hora da falha</td>\n      <td></td>\n    </tr>\n    <tr>\n      <td>Temp. no momento da falha</td>\n      <td></td>\n    </tr>\n    <tr>\n      <td>Dias parados por falha</td>\n      <td></td>\n    </tr>\n  </table>\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        15376,
        6480
      ],
      "id": "b9edebf6-84a5-4dcf-9ef4-5a356cdf7e48",
      "name": "HTML"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "387af87a-327a-4cca-823f-b9c6a41d2d32",
              "name": "html_base64",
              "value": "={{ $json.html.base64Encode() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        15552,
        6480
      ],
      "id": "b08cd69f-580e-4af8-a5f8-c3d556355741",
      "name": "htmToBase64"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "html_base64",
        "options": {
          "fileName": "index.html",
          "mimeType": "text/html"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        15728,
        6480
      ],
      "id": "c774396b-c1c6-40cb-a823-3de362f294e5",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://n8n.nikaotech.com:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        15920,
        6480
      ],
      "id": "8ab2a418-8e92-4bcd-9232-3f625eecd13e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Fun\u00e7\u00e3o correta para acessar bin\u00e1rio no n8n\nconst binaryData = await this.helpers.getBinaryDataBuffer(0, 'data');\n\n// Converter para base64\nconst base64String = binaryData.toString('base64');\n\nreturn [{\n  json: {\n    base64Data: base64String,\n    fileName: '659d1edd-aa6a-467f-ae51-3bca1aae595c.pdf',\n    mimeType: 'application/pdf'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16112,
        6480
      ],
      "id": "998ea8b9-dcbd-4472-9efd-d5f22399dc99",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-document",
        "instanceName": "sensor_temperatura",
        "remoteJid": "={{ $json.numeroDestinatario }}",
        "media": "={{ $json.base64Data }}",
        "caption": "Relat\u00f3rio",
        "fileName": "relatorio.pdf",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        16528,
        6480
      ],
      "id": "eab5c2e7-eaa0-4b84-a8df-00962f2dd678",
      "name": "Enviar documento1",
      "credentials": {
        "evolutionApi": {
          "id": "QqcSRveOqQAdkYAB",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const remoteJid = $('Webhook').first().json.body.data.key.remoteJid\nconst numero = remoteJid.split('@')[0];\n\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    numeroDestinatario: numero\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16320,
        6480
      ],
      "id": "ed55bdb8-45b1-4877-87cd-5e0bcf7fc304",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        14480,
        6688
      ],
      "id": "385bb9ca-4557-4d7c-bfa1-13cf62b11fb0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "MywRDCvjWfb2xBnW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        13696,
        7072
      ],
      "id": "86497e8c-d8ff-4d86-9637-41865356ce3e",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "MywRDCvjWfb2xBnW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.data.key.remoteJid }}",
        "contextWindowLength": "={{ 5 }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        13776,
        7024
      ],
      "id": "0fd94df6-777f-49bb-8788-ef56c647ff1b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.body.data.key.remoteJid }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        14608,
        6688
      ],
      "id": "b7ba74f0-4ed2-4001-9f0b-0121dab9e021",
      "name": "Simple Memory1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Switch Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Validation": {
      "main": [
        [
          {
            "node": "Responder Erro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MQTT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "htmToBase64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "htmToBase64": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Enviar documento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c1e7dcc4-b9cd-4406-bd44-865b64e0670c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be63eec592610c4f78e7b17a812f5d022e962bcad508e6c20e665203393891ed"
  },
  "id": "TSZ5JPZAnItVglGLcN694",
  "tags": []
}